@import "../mainStyle/style";

nav {
  width: 100vw;
  height: 10vh;
  background-color: $white;
  position: fixed;
  top: 0;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 15%;
  height: 100%;
  background-color: red;
}

.searchBar {
  width: 60%;
  height: 100%;
  background-color: rebeccapurple;
}

.icon {
  width: 15%;
  height: 100%;
  background-color: red;
  color: $theme-color;
  font-size: 2.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}
